@import "reset";
@import "fonts";
@import "funcs";
@import "vars";
@import "animations";

body, html {
    margin: 0;
    height: 100%;
    font-size: to-vw(16);
    font-family: acumin-pro-condensed;
}

#astrid {
    background: $black;
    height: 100%;
    overflow: hidden;

    svg {
        &.fullwidth { width: 100%; }
        &.fullheight { height: 100%; }
    }

    #desktop-svg { display: block; }
    #mobile-svg { display: none; }

    .logo {
        background-image: url('assets/logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: to-rem(239);
        height: to-rem(38);
        position: absolute;
        z-index: 5;
        top: to-rem(60);
        left: to-rem(60);
    }

    a {
        position: absolute;
        z-index: 5;
        top: to-rem(60);
        right: to-rem(60);
        color: $white;
        text-decoration: none;
        font-weight: 200;
        font-size: to-rem(16);
        text-transform: uppercase;
        letter-spacing: to-rem(3);

        &:hover { text-decoration: underline; }
    }
}

@media (max-width: 768px) {
    body, html {
        font-size: to-vw(14, 375);
    }

    #astrid {
        #desktop-svg { display: none; }
        #mobile-svg { display: block; }

        .logo {
            width: to-rem(219);
            height: to-rem(32);
            top: to-rem(30);
            left: to-rem(30);
        }

        a {
            top: to-rem(30);
            right: to-rem(30);
            font-size: to-rem(10);
            letter-spacing: to-rem(3);
        }
    }
};
