@import "reset";
@import "fonts";
@import "funcs";
@import "vars";
@import "animations";

body, html {
    margin: 0;
    height: 100%;
    font-size: to-vw(16);
    font-family: acumin-pro-condensed;
}

#astrid {
    background: $black;
    height: 100%;
    overflow: hidden;

    svg {
        &.fullwidth { width: 100%; }
        &.fullheight { height: 100%; }
    }

    #desktop-svg { display: block; }
    #mobile-svg { display: none; }

    .logo {
        background-image: url('assets/logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: min(#{to-rem(209)}, 209px);
        height: min(#{to-rem(31)}, 31px);
        position: absolute;
        z-index: 5;
        top: min(#{to-rem(60)}, 60px);
        left: min(#{to-rem(60)}, 60px);
    }

    a {
        position: absolute;
        z-index: 5;
        top: min(#{to-rem(60)}, 60px);
        right: min(#{to-rem(60)}, 60px);
        color: $white;
        text-decoration: none;
        font-weight: 200;
        font-size: min(#{to-rem(16)}, 16px);
        text-transform: uppercase;
        letter-spacing: to-rem(3);

        &:hover { text-decoration: underline; }
    }
}

@media (max-width: 768px) {
    body, html {
        font-size: to-vw(14, 375);
    }

    #astrid {
        #desktop-svg { display: none; }
        #mobile-svg { display: block; }

        .logo {
            width: min(#{to-rem(160)}, 160px);
            height: min(#{to-rem(32)}, 32px);
            top: min(#{to-rem(30)}, 30px);
            left: min(#{to-rem(30)}, 30px);
        }

        a {
            top: min(#{to-rem(30)}, 30px);
            right: min(#{to-rem(30)}, 30px);
            font-size: min(#{to-rem(10)}, 10px);
            letter-spacing: to-rem(3);
        }
    }
};
